@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizedLegibility;
}


html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .7rem;
}

html::-webkit-scrollbar-track {
  background: #141416;
}

html::-webkit-scrollbar-thumb {
  background: #1d764b;
  border: 2px solid #141416;
  border-radius: 999px;
}