@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizedLegibility;
  top: 0!important;
}

.skiptranslate {
  display: none !important;
}


html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .7rem;
}

html::-webkit-scrollbar-track {
  background: #141416;
}

html::-webkit-scrollbar-thumb {
  background: #1d764b;
  border: 2px solid #141416;
  border-radius: 999px;
}

#flip-card {
  transition: .5s;
  transform: rotateY(180deg);
}

.custom-fade-animation {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.transition-about-close {
  max-height: 420px;
  transition: max-height 0.5s ease-in;
}

.transition-about-open {
  max-height: 100%;
  transition: max-height 0.5s ease-in;
}

@keyframes random-movement {
  0% {
    transform: translate(-50%, 50%);
  }

  25% {
    transform: translate(50%, 50%);
  }

  50% {
    transform: translate(-50%, -50%);
  }

  75% {
    transform: translate(50%, -50%);
  }

  50% {
    transform: translate(-50%, 50%);
  }
}

.element-to-move {
  animation: random-movement 6s linear infinite;
}

.grecaptcha-badge {
  margin-bottom: 4rem;
}

@media only screen and (max-width: 768px) {
  .grecaptcha-badge {
    margin-bottom: auto;
  }
}

